.test { overflow: hidden; white-space: nowrap; width: 10em }
.test a { display: block; text-decoration: none  }
.test a div { display: none }
.test a:visited div { display: none }

.test a:hover div { display: block; position: absolute; background-color: white; border: thin solid black; left: -1px }

.bad  { background-color: #ff0000; color: black }
.good { background-color: #00ff00; color: black }
.todobad  { background-color: #7f0000; color: white }
.todogood { background-color: #007f00; color: white }
.nottest { background-color: #7f7f7f; color: white }