a {
    text-decoration: none;
}

.donate {
    margin: auto;
}

#banner {
    font-weight: bold;
    font-size: 120%;
    color: white;
    font-family:helvetica,sans-serif;
    background-color:#191970;
    padding-top: .4em;
    padding-left:.5em;
    padding-bottom:.4em;
    border-bottom: 4px solid #39f;
    border-top: 4px solid #39f; 
    letter-spacing: 0.3ex;
}

.pugs_name {
    color: #ccff66;
}

#main {
    margin-left: 14em;
    max-width: 75em;

}

.nav_left {
    float: left;
    margin: 0px;
    width: 13.5em;
    line-height: 1.5em;
    font-size: 85%;
    border-bottom: 1px solid #191970; 
    padding: 1ex;
    padding-left: 2ex;
    background-color: #eee;
    border-right:1px solid #191970;
    border-left:1px solid #191970;
}

.nav_seperator {
    width: 100%
    height: 0px;
    border-bottom: 1px solid #191970; 
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2ex;

    padding: 0px;
}
