comp_unit
CompUnit.new($m<statementlist>)

statement
*1*

expect_term
$m<noun>

term:expect_term
$m<noun>

integer
Val_Int.new(*text*)

subcall
Apply.new($m<subshortname>,$m<semilist>)

name
$m<ident>

statement_control:use
Use.new($m<module_name>)

module_name:depreciated
*text*

module_name:normal
*text*

term:listop
Apply.new($m<ident>,[$m<arglist>])

quote:q
Val_Buf.new($m<text>)

quote:qq
Val_Buf.new($m<text>)

infix
Apply.new("infix:".*text*,[$m<left>,$m<right>])

scope_declarator:my
my $vd = $m<scoped>;
Decl.new('my',undef,$vd->[0],$vd->[1])

scoped
*1*

variable_decl
[$m<variable>,$m<default_value>]

variable
Var.new($m<sigil>,$m<twigil>,$m<desigilname>)

sigil
*text*

twigil
*text*

circumfix
my $s = *text*;
my $name = substr($s,0,1).' '.substr($s,-1,1); # XXX :(
Apply.new("circumfix:".$name,$m<kludge_name>)

statement_control:if
If.new($m<if_expr>,$m<if_block>,$m<elsif>,$m<else>)

elsif
[$m<elsif_expr>,$m<elsif_block>]

if__else
*1*

pblock
*1*

block
Block.new($m<statementlist>)
