CompUnit
'package Main;
use Perl6::Say;
'.join(";\n",@{$n<statements>})

Val_Int
$n<text>

Apply
if($n<code> =~ /^infix:(.+)$/) {
  my $op = $1;
  my($l,$r)=@{$n<arguments>};
  if($op eq '~'){ "($l . $r)" }
  else { "($l $op $r)" }
}
elsif($n<code> =~ /^circumfix:(.+)/) {
  my $op = $1;
  my($arg)=@{$n<arguments>};
  $op =~ s/ /$arg/;
  $op  
}
else {
  $n<code>.'('.join(",",@{$n<arguments>}).')'
}

Decl
$n<decl>.' '.$n<var>

Use
""

Val_Buf
"'".$n<buf>."'"

Var
$n<sigil>.$n<name>

# If isn't working yet.
If
'if('.$n<cond>.")\n".$n<body>.$n<otherwise>

Block
'{'.join(";\n",$n<statements>).'}'
