CompUnit
'package Main;
use Perl6::Say;
'.join(";\n",@{$n<statements>})

Val_Int
$n<text>

Apply
if($n<code> =~ /^infix:(.+)$/) {
  my($l,$r)=@{$n<arguments>};
  my $op = $1;
  if($op eq '~'){ "($l . $r)" }
  else { "($l $op $r)" }
}
else {
  $n<code>.'('.join(",",@{$n<arguments>}).')'
}

Use
""

Val_Buf
"'".$n<buf>."'"

# If isn't working yet.
If
'if('.$n<cond>.")\n".$n<body>.$n<otherwise>

Block
'{'.join(";\n",$n<statements>).'}'
