# The original list of nodes came from kp6.
# It would be nice to get a node/field list from rakudo, to integrate.
# Otherwise, we'll drive this from the parse tree.
# Lots of work needed.

PackageDeclarator kind name block
Block     statements
Quote     concat

CompUnit    unit_type name traits attributes methods body

Val_Int    int
Val_Bit    bit
Val_Num    num
Val_Buf    buf
Val_Char   char
Val_Undef 
Val_Object clazz fields

Lit_Seq    seq
Lit_Array  array    
Lit_Hash   hash
Lit_Pair   key value

Lit_SigArgument  key value type has_default is_named_only is_optional is_slurpy is_multidimensional is_rw is_copy

Lit_NamedArgument  key value

Lit_Code  pad state sig body catch

Lit_Object  clazz fields

Var     sigil twigil name namespace
Bind    parameters arguments
Assign  parameters arguments
Proto   name

Call    invocant hyper method arguments
Apply   code arguments

Return  result
If      cond body otherwise
While   cond body
Decl    decl type var
Sig     invocant positional

Lit_Capture  invocant array hash
Lit_Subset   name base_class block

Method  name sig block
Sub     name sig block
Macro   name sig block
Coro    name sig block

P5Token  regex

Token  name regex sym

Do     block
Begin  block

Use    mod perl5


# ------------- REGEX AST ----------


Rule 
Rule_Quantifier  term quant greedy ws1 ws2 ws3
Rule_Or  terms
Rule_Concat  concat
Rule_Subrule  metasyntax ident capture_to_array
Rule_SubruleNoCapture  metasyntax
Rule_Var  sigil twigil name
Rule_Constant  constant
Rule_Dot 
Rule_SpecialChar  char
Rule_Block  closure
Rule_InterpolateVar  var
Rule_NamedCapture  rule ident capture_to_array
Rule_Before  rule assertion_modifier capture_to_array
Rule_After  rule assertion_modifier capture_to_array
Rule_NegateCharClass chars
Rule_CharClass chars
Rule_Capture  rule position capture_to_array


