Source: pugs
Section: interpreters
Priority: optional
Maintainer: Florian Ragwitz <rafl@debianforum.de>
Build-Depends: debhelper (>= 4.0.0), ghc6, perl, libyaml-perl
Standards-Version: 3.6.2

Package: pugs
Architecture: any
Depends: ${shlibs:Depends}, pugs-modules (>= ${Source-Version})
Suggests: pugs-doc
Description: A Perl 6 Implementation
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 http://dev.perl.org/perl6/synopsis/
 .
 Homepage: http://pugscode.org/

Package: pugs-doc
Architecture: all
Description: A Perl6 Implementation - Documentation
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 http://dev.perl.org/perl6/synopsis/
 .
 Homepage: http://pugscode.org/
 .
 This package contains various documentation for pugs.

Package: pugs-modules
Architecture: all
Depends: pugs (>= ${Source-Version})
Description: Pugs core modules
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 http://dev.perl.org/perl6/synopsis/
 .
 Homepage: http://pugscode.org/
 .
 This package contains architecture independent pugs modules.
