Source: pugs
Section: interpreters
Priority: optional
Maintainer: Florian Ragwitz <rafl@debianforum.de>
Build-Depends: debhelper (>= 4.0.0), dpatch, ghc6 (>= 6.6.1), perl, libperl-dev, libwww-perl, libyaml-perl, libtest-tap-model-perl, libtest-tap-htmlmatrix-perl, libcompress-bzip2-perl, libghc6-network-dev, libghc6-mtl-dev, libghc6-time-dev
Standards-Version: 3.7.2

Package: pugs
Architecture: any
Depends: ${shlibs:Depends}, pugs-modules (= ${Source-Version})
Suggests: pugs-doc, perl, spidermonkey-bin
Description: Perl 6 Implementation
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 http://perlcabal.org/syn/
 .
 Homepage: http://pugscode.org/

Package: pugs-doc
Architecture: all
Description: Pugs documentation
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 perlcabal.org/syn/
 .
 Homepage: http://pugscode.org/
 .
 This package contains various documentation for pugs.

Package: pugs-modules
Architecture: all
Description: Pugs core modules
 Pugs is an implementation of Perl 6, written in Haskell. It aims to implement
 the full Perl 6 specification, as detailed in the Synopses at
 perlcabal.org/syn/
 .
 Homepage: http://pugscode.org/
 .
 This package contains architecture independent pugs modules.
