#!/usr/bin/make -f

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS = optimized
else
	CFLAGS = unoptimized
endif

TESTS='smoke-all'

configure: configure-stamp
configure-stamp:
	dh_testdir
	perl Makefile.PL INSTALLDIRS=vendor
	touch configure-stamp

build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp 
	$(MAKE) $(CFLAGS)
	-test $$SKIP_TESTS || $(MAKE) $(TESTS)
	-if [ ! $$DONT_SEND_SMOKE ]; then \
		for html in $(CURDIR)/*smoke.html; do \
			./util/smokeserv/smokeserv-client.pl $$html; \
		done; \
	fi
	pod2man --section=1 --release="Debian Project" --center="Debian GNU/Linux manual" $(CURDIR)/script/pugscc $(CURDIR)/debian/pugscc.1
	touch build-arch-stamp

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp 
	touch build-indep-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp debian/pugs.1 debian/pugscc.1 src/Pugs/CodeGen/PIR/Prelude.hi src/Pugs/CodeGen/PIR/Prelude.o ext/Test-Builder/destroy_test.p6
	-$(MAKE) realclean
	dh_clean

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install -i --sourcedir=$(CURDIR)/debian/tmp --list-missing
	cp -r $(CURDIR)/docs/* $(CURDIR)/debian/pugs-doc/usr/share/doc/pugs-doc/
	cp $(CURDIR)/debian/pugs-modules.lintian-overrides $(CURDIR)/debian/pugs-modules/usr/share/lintian/overrides/pugs-modules
	rm -f $(CURDIR)/debian/pugs-doc/usr/share/doc/pugs-doc/SEEALSO

install-arch:
	dh_testdir
	dh_testroot
	dh_installdirs -s
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	cp util/perl6.vim $(CURDIR)/debian/pugs/usr/share/vim/vim63/syntax/
	dh_install -s --sourcedir=$(CURDIR)/debian/tmp --list-missing
	rm -f $(CURDIR)/debian/pugs/usr/lib/perl6/5.8/CORE/pugs/gen_prelude \
	$(CURDIR)/debian/pugs/usr/lib/perl6/5.8/CORE/pugs/Pugs/Rule/LICENSE \
	$(CURDIR)/debian/pugs/usr/lib/perl6/5.8/CORE/pugs/RRegex/LICENSE \
	$(CURDIR)/debian/pugs/usr/lib/perl6/5.8/CORE/pugs/pcre/LICENCE \
	$(CURDIR)/debian/pugs/usr/lib/perl6/5.8/CORE/pugs/syck/COPYING

# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	dh_installexamples -i examples/*
	rm -f $(CURDIR)/debian/pugs-doc/usr/share/doc/pugs-doc/examples/hop6/LICENSE.txt
	find $(CURDIR)/debian/pugs-doc/ -type f -size 0 -exec rm -f {} \;
	dh_installman -i
	dh_link -i
	dh_compress  -i
	dh_fixperms -i
	dh_strip -i
	dh_makeshlibs -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a ChangeLog
	dh_installdocs -a
	dh_installman -a debian/pugscc.1
	dh_link -a
	dh_compress  -a
	dh_fixperms -a
	dh_strip -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
