body {
    margin: auto;
    padding: 1.5em 3em 0 3em;
    background-color: white;
    background-image: url(background.png);
    background-repeat: repeat-x;
    color: #000000;
    font: 12pt sans-serif;
}

h4 {
    text-align: center;
    font-size: 130%;
}

#header {
    margin: 1em 2em 0 2em;
    padding: 1em 1em 2em 1em;
    width: 53.5em;
    border-radius: 1em; 
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #63a4ff;
    border: 3px solid #dddddd;
}


#header img {
    float: right;
    position: relative;
    top: -2em;
    right: -2em;
    z-index: 1;
}

#main {
    width: 100%;
    position: relative;
}

div.row {
    height: 50%;
    float: left;
    clear: both;
}

#header a {
    font: normal bold 12pt sans-serif;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
}


div a:link {
    font: normal bold 9pt sans-serif;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px dotted #000000;
}

div a:visited {
    font: normal bold 9pt sans-serif;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px dotted #000000;
}

div a:focus {
    font: normal bold 9pt sans-serif;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px dotted #000000;
}

div a:hover, #header a:hover {
    font: normal bold sans-serif;
    text-decoration: underline;
    border-bottom: none;
    /*color: #ffffff;*/
}

div a:active {
    font: normal bold 9pt sans-serif;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px dotted #000000;
}

#download a {
    text-decoration: none;
    border: 0px;
    font-size: 100%;
    color: #ffffff;
}

#specs, #download, #compiler, #docs, #ressources, #stuff {
    float: left;
    width: 20em;
    border: 3px solid #dddddd;
    border-radius: 1em; 
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    height: 20em;
    margin: -2em 2em 4em 2em;
    padding: 0 1em 1em 1em;
    color: #000000;
    font: 9pt sans-serif;
    line-height: 130%;
}

#specs, #stuff{
    background: #a5e41c;
}

#ressources {
    background: #e43b59;
}

#compiler, #docs {
    background: #f5ec48;
}

#download {
    border: 2px solid white;
}


#download img {
    position: relative;
    top: 3em;
    left: 1.2em
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 0.5em;
}
