body {
    margin: 1em;
    background-color: #FFC;
    max-width: 80em;
}

h1 {
    border-bottom: 1px solid;
}

.box {
    width: 20em;
    float: left;
    padding: 1ex;
    margin: 1em;
    border: 1px solid;
    background-color: white;
    float: left;
}

.box h2 {
    margin-top: 0px;
    border-bottom: 1px dotted;
}

#specification  { border-top: solid 3px #861; }
#compilers      { border-top: solid 3px #380; }
#documentation  { border-top: solid 3px #048; }
#blogs          { border-top: solid 3px #844; }
#misc           { border-top: solid 3px #268; }

a {
    font-weight: bold;
    color: black;
}

#meta {
    font-size: 80%;
    border-top: 1px solid;
}
