<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="Search in pugs SVN revisions" />
    <link rel="stylesheet" type="text/css"
        href="http://moritz.fau2k3.org/irclog/style.css" 
        title="Default Stylesheet" />
    <link rel="shortcut icon" 
        href="http://moritz.faui2k3.org/irclog/moose1.ico" 
        type="image/x-icon" />
    <title>Pugs SVN search</title>
</head>
<body>
    <h1>Pugs SVN search</h1>

    <form   action="<TMPL_VAR NAME=BASE_URL>search.pl" 
            method="get"
            accept-charset="utf-8">
        <label for="q">Query</label>
        <input type="text" size="40" maxlength="120" name="q"
            value="<TMPL_VAR NAME=Q>" id="text"></input>
        <br />
        <input type="submit" value="Search"></input><br />
        <p>You can use the operators 'AND', 'OR' and 'NOT', and prefix terms
        with a '+' or '-' (default is 'OR').</p>
        <p>You can search for phrases with double qutoes, and you can prefix
        words or phrases with <code>author:</code>, <code>revision:</code> or 
        <code>paths:</code>.</p>
    </form>

    <TMPL_IF NAME=RESULTS>
    <h2>Search Results</h2>
    <p>Found <TMPL_VAR NAME=RESULT_COUNT> Results.</p>

    <p>Page 
        <TMPL_LOOP NAME=OFFSETS>
        <a href="search.pl?q=<TMPL_VAR NAME=Q>;offset=<TMPL_VAR
        NAME=offset>"><TMPL_VAR NAME=number></a> 
        </TMPL_LOOP>
    </p>

    <div id="results">
    <TMPL_LOOP NAME=RESULTS>
        <h3>Revision <a href="http://dev.pugscode.org/changeset/<TMPL_VAR
        NAME=revision>"><TMPL_VAR NAME=revision></a> by <TMPL_VAR NAME=author></h3>
        <pre><TMPL_VAR NAME=message></pre>
        <TMPL_IF paths>
        <p>Modified files:</p>
        <ul>
        <TMPL_LOOP NAME=paths>
            <li><a href="http://svn.pugscode.org/pugs/<TMPL_VAR
            NAME=path>?rev=<TMPL_VAR NAME=revision>"><TMPL_VAR NAME=path></a></li>
        </TMPL_LOOP>
        </ul>
        </TMPL_IF>
    </TMPL_LOOP>
    </div>

    <p>Page 
        <TMPL_LOOP NAME=OFFSETS>
        <a href="search.pl?q=<TMPL_VAR NAME=Q>;offset=<TMPL_VAR
        NAME=offset>"><TMPL_VAR NAME=number></a> 
        </TMPL_LOOP>
    </p>

    </TMPL_IF>
    <TMPL_IF NAME=NO_RESULTS>
        <h2>Sorry, no reults found</h2>
    </TMPL_IF>

  </body>
</html>

<!-- 
    vim: ts=4 sw=4 expandtab 
-->
