BODY {width:100%;margin-left:10%;margin-right:10%; margin-top: 10px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12pt; line-height: normal; background-color:#FFFFFF;}
H1 {font-size: 24pt; 
    font-family: Georgia, Serif, Times; 
    font-weight: normal;
    color: white;
    background-color: #204a87;
    padding: 15px;
    }
H2 { font-weight: bold; font-size: 12pt}

EM {font-weight: bold;
    font-style: normal;
        text-decoration:none;}
TT {color: #204a87;
        font-weight: bold;
        }

LABEL {font-weight: normal; }
FIELDSET {border: solid white 0px}
LEGEND {font-weight:normal; text-align: left; }

DL { 
}

DT {
    display:block;
    float: left;
    width: 10ex;
}

DD {
    display:block ;
    float: left;
}

.copyright {font-size: 9pt}
.warning {
border: solid 2px #204a87;
padding: 5px;
}
.tabon {
font-weight:bold;
    background-color: #f2f2f0;
    border: solid 2px #204a87;
    padding: 2px;
    padding-bottom: 0px;
    margin-top: 10px; 

}
.taboff {
font-weight:bold;
    background-color: #c2c2c0;
color: gray;
    border: solid 2px #204a87;
    padding: 2px;
    padding-bottom: 0px;
    margin-top: 10px; 
}
#mainwindow {
width: 85ex; /*750px */
}
#hist {
    width: 100%; /*750px; */
    font-family: "Andale Mono", courier, fixed, monospace;
    font-weight: normal;
    font-size: 10pt;
    color: #204a87;
    border: solid 0px #204a87;
    background-color: #f2f2f0;
    padding-bottom: 5px;
}
.term {
    background-color: #f2f2f0;
    border: solid 2px #204a87;
    padding: 5px;
}
#outputwindow {
    height:40ex;
}
#editorwindow {
    height: 50ex; /*400px;*/
}

#termwindow {
    height: 45ex; /*400px;*/
    background-color: #f2f2f0;
    border: solid 2px #204a87;
    padding: 5px;
}
.prompt {
    font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 11pt;
    font-weight: bold;
    line-height: 12pt;
    color: #204a87;
    background-color: #f2f2f0;
/*        border: solid 0px #f2f2f0;*/
}
.termfont {
    font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 11pt;
    font-weight: normal;
    line-height: 12pt;
    color: #204a87;
    background-color: #f2f2f0;
/*        border: solid 0px #f2f2f0;*/
}
#cmdline {
width: 90%; /* sadly, Safari would need 92% */
    font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 11pt;
    font-weight: normal;
    line-height: 12pt;
    color: #204a87;
    background-color: #f2f2f0;
        border: solid 0px #f2f2f0;
}
#output,#script {
    width: 100%;
    font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 11pt;
    font-weight: normal;
    line-height: 12pt;
    color: #204a87;
    background-color: #f2f2f0;
    border: solid 0px #f2f2f0;
    /* for IE */
    overflow: visible;
}
#cmd {
    width: 100%;
    font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 11pt;
    font-weight: normal;
    line-height: 12pt;
    color: #204a87;
    background-color: #f2f2f0;
    border: solid 0px #f2f2f0;
/*    border: solid 2px #204a87;
    padding: 5px;*/
}
/* Linkdefinities */
A:link, A.bold:link { text-decoration: underline; color: #660066}
A:active, A.bold:active { text-decoration: underline; color: #6699FF}
A:visited, A.bold:visited { text-decoration: underline; color: #660066}
A:hover, A.bold:hover { text-decoration: underline; color: #000099}
A.taboff:link, A.taboff:active,A.taboff:visited {text-decoration: none; color: #333333}
