<html>
 <head><title><TMPL_VAR name='file'></title>
 <style type="text/css">
 <!--
 span.test_pass { background-color: rgb(100, 250, 100); }
 span.test_fail { background-color: rgb(250, 100, 100); }
 span.test_todo { background-color: rgb(250, 250, 100); }
 -->
 </style>
 </head>
 
<body>
<pre><tt>
  <TMPL_VAR name='tests'>
</tt></pre>
</body>
</html>

