<hmtl>
<head>
<title>Test Catalog and Documentation cross reference.</title>
</head>
<body>
<TMPL_IF name='directories'><h2>Sub-Directories</h2>
<table>
<tr valign="top">
<td>
<TMPL_LOOP name="directories">
    <a href='<TMPL_VAR name="title">'><TMPL_VAR name="title"></a><br />
    <TMPL_IF name="wrap"></td><td></TMPL_IF>
</TMPL_LOOP>
</td></tr>
</table>
</TMPL_IF>

<h2>Files</h2>
<ul>
<TMPL_LOOP name="files">
    <li><a href='<TMPL_VAR name='file'>.html'><TMPL_VAR name="file"></a> (<TMPL_VAR name="links">)</li>
</TMPL_LOOP>
</ul>
</body>
</html>

