<hmtl>
<head>
<title>Test Catalog and Documentation cross reference.</title>
</head>
<body>
<TMPL_IF name='unresolved'><h2>Unresolved Errors</h2>
<ul>
<TMPL_LOOP name="unresolved">
    <li><a href='t/<TMPL_VAR name="relative">'><TMPL_VAR name="relative"></a> - 
        <TMPL_VAR name="target"> - <TMPL_VAR name="heading">
   </li>
</TMPL_LOOP>
</ul>
</TMPL_IF>

</body>
</html>

